%div[season]

  %p.name
    %strong 
    =  link_to season.name, object_path(season)
    - if authorized?
      |
      = link_to 'Edit', edit_object_path(season)
      |
      = link_to 'Destroy', object_path(season), :confirm => 'Really destroy season?', :method => :delete