<h1>Editing episode</h1>

<% form_for(@episode) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @episode %> |
<%= link_to 'Back', episodes_path %>
